.range {
    &__header {
        font-size: 16px;
        color: $black;
    }
    &__body {
        &__value-from-to {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        &__scroll {
            cursor: pointer;
            height: 30px;
            background-color: transparent;
            position: relative;
            z-index: 10;
            &-click-area {
                background-color: transparent;
                cursor: pointer;
                top: 0; bottom: 0;
                left: 0; right: 0;
                position: absolute;
                z-index: 10;
            }
            * {
                transition: all .5s ease;
            }
            &-white-bg {
                height: 4px;
                background-color: $white;
                position: relative;
                z-index: 1;
                position: absolute;
                top: 13px;
                left: 0; right: 0;
            }
            &-bg {
                height: 4px;
                background-color: $red;
                position: relative;
                z-index: 2;
                position: absolute;
                top: 13px;
                left: 0; right: 0;
            }

            &__from {
                position: absolute;
                z-index: 11;
                background-color: $red;
                width: 14px;
                height: 14px;
                left: 0;
                top: 8px;
                cursor: pointer;
            }
            &__to {
                position: absolute;
                z-index: 3;
                background-color: $red;
                width: 14px;
                height: 14px;
                right: 0;
                top: 8px;
                cursor: pointer;
            }
        }
        &__value-from-to {}
        &__value-from {}
        &__value-to {}
    }
}
