mixin range(header, valuestart, valueend)
	.range&attributes(attributes)
		.range__header #{header}
		.range__body(data-val_start=valuestart, data-val_end=valueend)
			.range__body__scroll
				.range__body__scroll-click-area
				.range__body__scroll-bg
				.range__body__scroll-white-bg
				.range__body__scroll__from
				.range__body__scroll__to
			.range__body__value-from-to
				input.range__body__value-from(type='text' value=valuestart maxlength='7')
				input.range__body__value-to(type='text' value=valueend maxlength='7')