table.table {
	width: 100%;
	tr {
		height: 40px;
		line-height: 40px;
		background-color: $white;
		&:nth-child(2) {
			margin-top: 15px;
		}
		> th {
			font-size: 24px;
			font-family: $font-bold;
			font-weight: bold;
			border-bottom: 4px solid $red-active;
			color: $black;
			&:last-child {
				text-align: right;
				color: $red;
			}
		}
		> td {
			border-bottom: 1px solid $graylight;
			color: $black;
			font-size: 16px;
			line-height: 40px;
			font-family: $font;
			font-weight: normal;
			&:first-child {
				color: $grayblack;
			}
			&:last-child {
				font-family: $font-bold;
				font-weight: bold;
				text-align: right;
			}
		}
		&:last-child {
			> td {
				border-bottom: none;
			}
		}
	}
}
