mixin table(col, data)
	- var i = 0;
	table.table&attributes(attributes)
		tr
			- for(i; i < col; i++)
				th= data[i]
		if data.length > 2
		tr(style='height: 20px;border:none')
		- for(var j = 0; j < (data.length-2)/2; j++)
			tr
				- for(var q = 0; q < col; q++)
					td= data[i]
					- i++;
