* { box-sizing: border-box; }

html, body { height: 100%; }

html {
    min-width: 320px;
    position: relative;
}

body {
    font-size: 14px;
    background-color: $white;
    color: $black;
    font-family: $font;
}

body > * { min-width: 320px; }

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    > .content { flex: 1 0 auto; }
    > footer { flex: 0 0 auto; }
}

h1 {
    font-family: Nissan Brand;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    color: $black;
}
h2 {
    font-family: Nissan Brand;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    color: $black;
}
p   {
    font-family: Nissan Brand;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: $grayblack;
}
.asfs {
    align-self: flex-start;
}

.mtb-space-40px {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mlr-space-40px {
    margin-left: 40px;
    margin-right: 40px;
}

.mt-space-80px { margin-top: 80px; }
.mb-space-80px { margin-bottom: 80px; }
.mr-space-80px { margin-right: 80px; }
.ml-space-80px { margin-left: 80px; }

.mt-space-70px { margin-top: 70px; }
.mb-space-70px { margin-bottom: 70px; }
.mr-space-70px { margin-right: 70px; }
.ml-space-70px { margin-left: 70px; }

.mt-space-60px { margin-top: 60px; }
.mb-space-60px { margin-bottom: 60px; }
.mr-space-60px { margin-right: 60px; }
.ml-space-60px { margin-left: 60px; }

.mt-space-50px { margin-top: 50px; }
.mb-space-50px { margin-bottom: 50px; }
.mr-space-50px { margin-right: 50px; }
.ml-space-50px { margin-left: 50px; }

.mt-space-40px { margin-top: 40px; }
.mb-space-40px { margin-bottom: 40px; }
.mr-space-40px { margin-right: 40px; }
.ml-space-40px { margin-left: 40px; }

.mt-space-30px { margin-top: 30px; }
.mb-space-30px { margin-bottom: 30px; }
.mr-space-30px { margin-right: 30px; }
.ml-space-30px { margin-left: 30px; }

.mt-space-20px { margin-top: 20px; }
.mb-space-20px { margin-bottom: 20px; }
.mr-space-20px { margin-right: 20px; }
.ml-space-20px { margin-left: 20px; }

.mt-space-10px { margin-top: 10px; }
.mb-space-10px { margin-bottom: 10px; }
.mr-space-10px { margin-right: 10px; }
.ml-space-10px { margin-left: 10px; }

.flex-w100-flexend {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 940px) {
    .adp {
        margin-top: 80px !important;
    }
    .centrolize {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

input {
    &.range__body__value-from,
    &.range__body__value-to {
        max-width: 100px;
    }
    appearance: none;
    padding: 0 7px 0 7px;
    border: none;
    outline: none;
    background-color: $white;
    line-height: 35px;
    height: 35px;
    font-size: 14px;
    display: inline-block;
    color: $black;
    &:focus, &:active {
        border: none;
        outline: none;
        box-shadow: none;
    }
}