/* Nissan Regular */
@font-face {
	font-family: 'NissanBrand';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/NissanBrand-Regular.eot'); // IE9 Compat Modes
	src: url('../fonts/NissanBrand-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			 url('../fonts/NissanBrand-Regular.woff2') format('woff2'), // Super Modern Browsers >>> Chrome 26+, Opera 23+, Firefox 39+
			 url('../fonts/NissanBrand-Regular.woff') format('woff'), // Pretty Modern Browsers >>> Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
			 url('../fonts/NissanBrand-Regular.ttf')  format('truetype'), // Safari, Android, iOS
			 url('../fonts/NissanBrand-Regular.svg#NissanBrand-Light') format('svg'); // Legacy iOS
}
/* Nissan Light */
@font-face {
	font-family: 'NissanBrandLight';
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/NissanBrand-Light.eot'); // IE9 Compat Modes
	src: url('../fonts/NissanBrand-Light.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			 url('../fonts/NissanBrand-Light.woff2') format('woff2'), // Super Modern Browsers >>> Chrome 26+, Opera 23+, Firefox 39+
			 url('../fonts/NissanBrand-Light.woff') format('woff'), // Pretty Modern Browsers >>> Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
			 url('../fonts/NissanBrand-Light.ttf')  format('truetype'), // Safari, Android, iOS
			 url('../fonts/NissanBrand-Light.svg#NissanBrand-Regular') format('svg'); // Legacy iOS
}
/* Nissan Italic */
@font-face {
	font-family: 'NissanBrandItalic';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/NissanBrand-Italic.eot'); // IE9 Compat Modes
	src: url('../fonts/NissanBrand-Italic.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			 url('../fonts/NissanBrand-Italic.woff2') format('woff2'), // Super Modern Browsers >>> Chrome 26+, Opera 23+, Firefox 39+
			 url('../fonts/NissanBrand-Italic.woff') format('woff'), // Pretty Modern Browsers >>> Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
			 url('../fonts/NissanBrand-Italic.ttf')  format('truetype'), // Safari, Android, iOS
			 url('../fonts/NissanBrand-Italic.svg#NissanBrand-Italic') format('svg'); // Legacy iOS
}
/* Nissan Bold */
@font-face {
	font-family: 'NissanBrandBold';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/NissanBrand-Bold.eot'); // IE9 Compat Modes
	src: url('../fonts/NissanBrand-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			 url('../fonts/NissanBrand-Bold.woff2') format('woff2'), // Super Modern Browsers >>> Chrome 26+, Opera 23+, Firefox 39+
			 url('../fonts/NissanBrand-Bold.woff') format('woff'), // Pretty Modern Browsers >>> Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
			 url('../fonts/NissanBrand-Bold.ttf')  format('truetype'), // Safari, Android, iOS
			 url('../fonts/NissanBrand-Bold.svg#NissanBrand-Bold') format('svg'); // Legacy iOS
}
