.banner {
	position: relative;
	height: 170px;
	&__img {
		top: 0; bottom: 0;
		left: 0; right: 0;
		position: absolute;
		background-repeat: no-repeat;
		background-position: top right;
		background-size: cover;
	}
	&__content {
		position: relative;
		z-index: 2;
		padding: 20px 0;
		h1 {
			font-size: 50px;
			font-weight: bold;
			font-family: $font-bold;
			text-transform: uppercase;
			margin: 0;
			padding: 0;
		}
		p {
			font-size: 20px;
			font-weight: normal;
			font-family: $font;
			text-transform: uppercase;
			margin: 0;
			padding: 0;
		}
	}
}

@media screen and (max-width: 775px) {
	.banner {
		&__content {
			display: none;
		}
	}
}
