mixin banner(additionalClass)
	.banner(class=additionalClass)&attributes(attributes)
		.banner__img(style='background-image: url(img/bg00.png);')
		.banner__content
			.container
				.row
					.col
						h1 Nissan Terrano
						p мощный внедорожник. мощное предложение
