.image-preview {
	width: 100px;
	height: auto;
	background-color: $white;
	overflow: hidden;
	display: inline-block;
	position: relative;
	cursor: pointer;
	> img {
		min-width: 100px;
		min-height: 100px;
	}
	&:after {
		position: absolute;
		content: '';
		display: block;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: transparent;
		border: 3px solid transparent;
	}
	&:hover:after {
		border-color: $red;
	}
}
