mixin slider(additionalClass)
	#slider
		#peppermint.peppermint
			figure: .slider__image(style='background-image:url(img/banner.png);')
			figure: .slider__image(style='background-image:url(img/banner.png);')
			figure: .slider__image(style='background-image:url(img/banner.png);')
			figure: .slider__image(style='background-image:url(img/banner.png);')
			figure: .slider__image(style='background-image:url(img/banner.png);')
			figure: .slider__image(style='background-image:url(img/banner.png);')
			figure: .slider__image(style='background-image:url(img/banner.png);')
			figure: .slider__image(style='background-image:url(img/banner.png);')
		#slider__controls-prev
		#slider__controls-next