.slider__image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	max-height: 400px;
	min-height: 400px;
	height: 400px;
}
#slider {
	max-height: 400px;
	min-height: 400px;
	height: 400px;
	width: 100%;
	position: relative;
	.siema > div > div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__controls {
		&-prev {
			left: 0;
		}
		&-next {
			right: 0;
			transform: rotate(-180deg);
		}
		&-prev, &-next {
			z-index: 11;
			position: absolute;
			cursor: pointer;
			top: 0; bottom: 0;
			width: 90px;
			background-image: url(../img/control-arrow.svg);
			background-position: center right;
			background-repeat: no-repeat;
			background-size: auto;
			@include transition;
			&:hover {
				background-image: url(../img/control-arrow-hover.svg);
			}
			&:active {
				background-image: url(../img/control-arrow-active.svg);
			}
		}
	}
}

/* Peppermint minimal required styles */

.peppermint.peppermint-active {
    position: relative;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.peppermint.peppermint-active .peppermint-slides {
    position: relative;
    overflow: hidden; /* clearfix */
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.peppermint.peppermint-active .peppermint-slides > * {
    float: left;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

.peppermint.peppermint-active .peppermint-slides a:active,
.peppermint.peppermint-active .peppermint-slides a:active img {
    outline: none;
}

.peppermint.peppermint-active,
.peppermint.peppermint-active .peppermint-dots,
.peppermint.peppermint-active .peppermint-slides,
.peppermint.peppermint-active .peppermint-slides > * {
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.peppermint.peppermint-mouse .peppermint-slides {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.peppermint.peppermint-mouse.peppermint-drag .peppermint-slides * {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}