.sort-btn {
	font-family: $font;
	font-size: 16px;
	font-weight: normal;
	color: $black;
	cursor: pointer;
	position: relative;
	display: inline-block;
	user-select: none;
	margin-left: 20px;
	margin-right: 40px;
	@include transition;
	&:hover {
		color: $red-hover;
		text-decoration: none;
	}
	&:active {
		color: $red-active;
		text-decoration: none;
	}
	&.sorted {
		color: $red;
	}
	&:after {
		top: 50%;
		transform: rotate(180deg) translateY(100%);
	}
	&:before {
		bottom: 50%;
		transform: translateY(150%);
	}
	&:after,
	&:before {
		content: '';
		position: absolute;
		right: -20px;
		width: 10px;
		height: 6px;
		background-repeat: no-repeat;
		background-size: auto;
		background-image: url(../img/dropdown-icon.svg);
		background-position: bottom center;
		background-size: 10px;
	}
	&.sort {
		&.asc { // up
			&:after { background-image: url(../img/dropdown-icon-focus.svg); } // up
			&:before { background-image: url(../img/dropdown-icon.svg); } // down
		}
		&.desc { // down
			&:after { background-image: url(../img/dropdown-icon.svg); } // up
			&:before { background-image: url(../img/dropdown-icon-focus.svg); } // down
		}
	}
}

@media screen and (max-width: 940px) {
	a.sort-btn {
		margin-left: 0;
		margin-right: 30px;
	}
}
