
include ../blocks/dropdown/dropdown.pug
include ../blocks/btn/btn.pug
include ../blocks/image-preview/image-preview.pug
include ../blocks/link/link.pug
include ../blocks/menu/menu.pug
include ../blocks/logo/logo.pug
include ../blocks/header/header.pug
include ../blocks/phone/phone.pug
include ../blocks/mail/mail.pug
include ../blocks/work-time/work-time.pug
include ../blocks/card/card.pug
include ../blocks/footer/footer.pug
include ../blocks/slider/slider.pug
include ../blocks/filter/filter.pug
include ../blocks/gray-box/gray-box.pug
include ../blocks/sort/sort.pug
include ../blocks/content/content.pug
include ../blocks/cards/cards.pug
include ../blocks/loadmore/loadmore.pug
include ../blocks/submit/submit.pug
include ../blocks/range/range.pug
include ../blocks/sort-btn/sort-btn.pug
include ../blocks/sort-drop-btn/sort-drop-btn.pug
include ../blocks/table/table.pug
include ../blocks/textbox/textbox.pug
include ../blocks/infobox/infobox.pug
include ../blocks/offer-id/offer-id.pug
include ../blocks/showcase/showcase.pug
include ../blocks/banner/banner.pug
