head
	meta(charset="UTF-8")
	meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
	meta( name='viewport' content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,shrink-to-fit=no' )
	meta( name='format-detection', content='telephone=no' )

	// favicon
	link( rel='shortcut icon' href='img/favicon.ico' )
	link(rel='shortcut icon', href="img/favicon.ico", type="image/x-icon")
	link( rel='icon' type='image/x-icon' href='img/favicon.ico' )
	link( rel='icon' type='image/png' href='img/favicon.png'  )


	meta( name='keywords' content='' )
	meta( name='description' content='' )
	title Title

	meta(name="format-detection", content="telephone=no")

	// Android - Chrome
	meta( name='theme-color' content='#16C9B9' )

	// Add to home screen for Safari on iOS
	meta(name='mobile-web-app-capable', content='yes')
	meta(name='apple-mobile-web-app-capable', content='yes')
	meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
	meta(name='apple-mobile-web-app-title', content='Title')
	meta(name='msapplication-TileColor', content='#000000')
	meta(name='msapplication-TileImage', content='img')
	meta(name='msapplication-starturl', content='/')
	link(rel='apple-touch-icon', href='img.png')

	link( rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css' )
	//- link(rel='stylesheet',
		href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
		integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm',
		crossorigin='anonymous')

	link(rel='stylesheet', href='css/style.css?version=1')

	<!--[if IE]>
	script( src='http://html5shiv.googlecode.com/svn/trunk/html5.js' )
	<![endif]-->
