doctype html
html(lang='ru')
    include head.pug
    include blocks.pug

    body
        .wrapper
            .content
                +header
                .adp
                    block sld
                .container
                    block content
            +footer
        include scripts.pug
