mixin gray-box
	form.gray-box(action='' method='GET')&attributes(attributes)
		.row.w-100(style='margin: 0 0 20px 0;')
			.col-12.col-lg-4: +dropdown('Марка автомобиля', ['Nissan', 'Mazda', 'Mercedes', 'Huindai', 'Qashqai', 'Ford', 'Peugeot', 'ВАЗ'], 'auto')
			.col-12.col-lg-4: +dropdown('Модель', ['Cедан', 'Xетчбэк', 'Кроссовер'], 'model')
			.col-12.col-lg-4: +dropdown('Коробка передач', ['Авто', 'Ручная'], 'kp')
		.row.w-100(style='margin: 0;')
			.col-12.col-lg-4: +range('Цена (BYN)', '10000', '50000')
			.col-12.col-lg-4: +range('Год выпуска', '1950', '2018')
			.col-12.col-lg-4: +range('Пробег', '10', '100000')
		.flex-w100-flexend.mt-space-40px
			+submit('подобрать')(style='margin: 0 15px;')