mixin sort(additionalClass)
	.sort.row(class=additionalClass)&attributes(attributes)
		p(style='display:inline-block;') Сортировать по:
		+sort-btn('?sortby=cost', 'Цене').sort.desc
		+sort-btn('?sortby=year', 'Году выпуска').sort.asc
		+sort-drop-btn('?sortby=clear', 'Сбросить параметры')
