.sort {
	display: inline-flex;
	justify-content: space-between;
	margin-right: 0;
	margin-left: 0;
	p {
		font-size: 16px;
		font-family: $font;
		font-weight: normal;
		margin: 0;
		color: $grayblack;
	}
}

@media screen and (max-width: 940px) {
	.sort {
		p {
			width: 100%;
			display: block;
			margin-bottom: 10px;
		}
	}
}
