.btn {
	@include transition;
	width: 160px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	user-select: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	font-family: $font-bold;
	background-color: $red;
	color: $white;
	text-decoration: none;
	&:hover {
		background-color: $red-hover;
		color: $white;
		text-decoration: none;
	}
	&:active {
		background-color: $red-active;
		color: $white;
		text-decoration: none;
	}
	&.gray {
		background-color: $graylight;
		color: $black;
		text-decoration: none;
		&:hover {
			background-color: $graylight-hover;
			color: $black;
			text-decoration: none;
		}
		&:active {
			background-color: $graylight-active;
			color: $black;
			text-decoration: none;
		}
	}
}
