.showcase {
	position: relative;
	&__main {
		width: 100%;
		height: 350px;
		// margin-bottom: 15px;
		position: relative;
		&-box {
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}
	}
	&__pagination {
		width: 100%;
		height: 100px;
		font-size: 0;
		position: absolute;
		bottom: -115px;
		> div {
			width: 100px;
			height: 100px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			margin: 0 10px 10px 0;
			display: inline-block;
			cursor: pointer;
			position: relative;
			&:last-child {
				margin-right: 0;
			}
			&:after {
				@include transition;
				position: absolute;
				content: '';
				display: block;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-color: transparent;
				border: 3px solid transparent;
			}
			&:hover:after {
				border-color: $red;
			}
			&.active:after {
				border-color: $red;
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.showcase {
		&__pagination {
			position: unset;
			margin-bottom: 40px;
			margin-top: 15px;
			> div {
				width: 50px;
				height: 50px;
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.showcase {
		&__main {
			height: 188px;
		}
	}
}
