mixin showcase(names, format, id)
	.showcase&attributes(attributes)
		.showcase__main: .showcase__main-box
		// в data-img-names перечесляються префиксы к именам через запятую '1,2,3,4,5'
		// в data-img-format формат изображений
		// в data-car-id основное имя, в теории нэйминг картинок происходмт по "id предложения"
		.showcase__pagination(data-img-names=names, data-img-format=format, data-car-id=id)
		// как формируються имена картинок: ../img/ id + '_' + names[i] + '.' + format
