$black: #000000;
$white: #FFFFFF;

$black2: #222222;

$grayblack: #A6A6A6;
$gray: #E3E3E3;

$graylight: #F7F7F7;
$graylight-hover: #FAFAFA;
$graylight-active: #E3E3E3;

$blue: #206EE3;
$blue-hover: #458FFF;
$blue-active: #135ECF;

$red: #B32734;
$red-hover: #D43342;
$red-active: #91101C;

$red-gradient: linear-gradient(90deg, #B32734 31.48%, #8F141F 99.21%);

$font: 'NissanBrand', sans-serif;
$font-bold: 'NissanBrandBold', sans-serif;

// $font-first: 'Roboto', 'Arial', sans-serif;
// $font-second: 'Georgia', 'Times New Roman', serif;
