mixin cards(additionalClass)
	.cards.row(class=additionalClass)&attributes(attributes)
		.mb-space-30px: +card(true)
		.mb-space-30px: +card(false)
		.mb-space-30px: +card(true)
		.mb-space-30px: +card(false)
		.mb-space-30px: +card(true)
		.mb-space-30px: +card(false)
		.mb-space-30px: +card(true)
		.mb-space-30px: +card(false)

	+loadmore
