mixin footer(additionalClass)
	footer.footer(class=additionalClass)&attributes(attributes)
		.container
			.row
				.col-12.col-lg-3
					+logo(class='white')
				p.col-12.col-lg-9 NISSAN © 2018 СООО «ДрайвМоторс», УНП 191111259. Автоцентр ДрайвМоторс — официальный дилер Nissan в РБ. Обращаем ваше внимание на то, что, вся информация на сайте носит рекламный характер и не является публичной офертой.<br>Изображения автомобилей на сайте представлены для ознакомления и могут отличаться от автомобилей реализуемых дилерами. Более подробную и актуальную информацию можно получить у официального дилера Nissan.
