.card {
	background-color: $white;
	cursor: pointer;
	@include transition;
	width: 255px;
	margin: auto;
	&:hover {
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	}
	&__header {
		&-imgs {
			max-height: 180px;
			min-height: 180px;
			width: 100%;
			overflow: hidden;
			display: flex;
			position: relative;
			&__status {
				width: 35px;
				height: 35px;
				position: absolute;
				top: 10px;
				right: 10px;
				&.verified {
					background-color: $red;
					background-repeat: no-repeat;
					background-position: center;
					background-size: 100%;
					background-image: url(../img/verified.svg);
				}
				&.approved {
					background-color: $white;
					background-repeat: no-repeat;
					background-position: center;
					background-size: 100%;
					background-image: url(../img/approved.svg);
				}
			}
			> img {
				width: 100%;
				display: none;
				&.active {
					display: block;
				}
			}
		}
		&-pagination {
			padding-top: 10px;
			width: 100%;
			> ul {
				list-style: none;
				padding: 0;
				margin: 0;
				text-align: center;
				font-size: 0;
				> li {
					display: inline-block;
					height: 3px;
					width: 3px;
					padding: 0;
					margin: 0 5px;
					background-color: $grayblack;
					&.active {
						background-color: $red;
					}
					&:hover {
						background-color: $red;
					}
				}
			}
		}
	}
	&__body {
		display: flex;
		flex-wrap: wrap;
		font-size: 0;
		padding: 15px;
		border-left: 1px solid $graylight;
		border-right: 1px solid $graylight;
		border-bottom: 1px solid $graylight;
		&-title {
			width: 50%;
			color: $black;
			text-align: left;
			font-size: 14px;
			font-weight: normal;
			font-family: $font;
		}
		&-cost {
			width: 50%;
			color: $red;
			text-align: right;
			font-size: 14px;
			font-weight: bold;
			font-family: $font-bold;
		}
		&-about {
			width: 100%;
			color: $grayblack;
			text-align: left;
			font-size: 14px;
			font-weight: normal;
			font-family: $font;
			margin-top: 10px;
			margin-bottom: 15px;
		}
		&-more {
			width: 100%;
		}
	}
}
