mixin card(verified)
	.card
		.card__header
			.card__header-imgs
				if verified
					.card__header-imgs__status.verified
				else
					.card__header-imgs__status.approved
				img(src='img/car01.png', alt='').active
				img(src='img/car02.png', alt='')
		.card__body
			.card__header-pagination
			.card__body-title OPEL ANTARA
			.card__body-cost
				span 27 800
				| РУБ.
			.card__body-about 1.6 (110 л.с.) / Механическая / Хэтчбэк303 216км / 2004 г.в.
			.card__body-more: +btn('/car-more.html', 'Подробнее')(class='w-100')
