extends ../templates/main.pug
block content
	.row.mt-space-40px
		.left.col-12.col-lg-6.asfs
			+offer-id('JA4LS31WX8Z011200')
			+table(2, ['NISSAN X-TRAIL', '23 800 РУБ.', 'Год выпуска', '2007', 'Тип кузова', 'внедорожник', 'КПП', 'механическая', 'Пробег', '257340', 'Тип двигателя', 'дизель', 'Привод', 'полный']).mb-space-40px
		.right.col-12.col-lg-6.asfs
			+showcase('1,2,3,4,5', 'png', 'JA4LS31WX8Z011200')
		.empty.col-12.col-lg-6.mb-space-40px.asfs
			+textbox('КОММЕНТАРИЙ','Рассрочка до 5 месяцев c первоначальным взносом 50% от стоимости авто. Ваш авто в зачет.').mb-space-40px
			+textbox('ОСОБЕННОСТИ','Автомобиль обслуживался у официального дилера.').mb-space-40px
			+textbox('КОМПЛЕКТАЦИЯ', ['Велюровый салон', 'Подогрев сидений', 'Громкая связь', 'Литые диски', 'Климат-контроль', 'Эл/стеклоподъёмники', 'Эл/зеркала'], true).mb-space-40px
			+infobox.mtb-space-40px
			+btn('/', 'Назад')(class='gray').mb-space-40px.centrolize
