mixin dropdown(header, items, name)
	.dropdown.close(id=name, data-toggle='close')&attributes(attributes)
		h1= header
		input.dropdown__title(type='text', placeholder='Любая', name=name, autocomplete='off', readonly)
		.dropdown__list
			ul
				each item in items
					li= item
