.dropdown {
	min-width: 100%;
	max-width: 100%;
	display: inline-block;
	@include transition;
	&.close {
		> .dropdown {
			&__list {
				overflow: hidden;
				margin-top: 0px;
				> ul {
					> li {
						&:first-child {
							border-top: none;
						}
						font-size: 0;
						height: 0px;
						padding: 0;
					}
				}
			}
			&__title {
				border-bottom: none;
				background-image: url(../img/dropdown-icon.svg);
			}
		}
	}
	h1 {
		margin: 0 0 4px 0 0;
		padding: 0;
		font-size: 1.15rem;
		line-height: 19px;
	}
	&__title {
		width: 100%;
		cursor: pointer;
		appearance: none;
		border: none;
		background-color: $white;
		padding: 0 39px 0 7px;
		line-height: 35px;
		height: 35px;
		font-size: 14px;
		color: $grayblack;
		position: relative;
		user-select: none;
		background-image: url(../img/dropdown-icon-focus.svg);
		background-repeat: no-repeat;
		background-position-x: 95%;
		background-position-y: center;
		background-size: auto;
		&:focus {
			outline: none;
			box-shadow: none;
		}
		&:active {
			outline: none;
			box-shadow: none;
		}
	}
	&__list {
		@include transition;
		overflow: hidden;
		position: absolute;
		z-index: 10;
		overflow-x: hidden;
		overflow-y: auto;
		box-shadow: 3px 3px 5px rgba(0,0,0,.1);
		max-height: 200px;
		> ul {
			list-style: none;
			margin: 0;
			padding: 0;
			width: 305px;
			font-size: 0;
			> li {
				&:first-child {
					border-top: 1px solid $gray;
				}
				@include transition;
				cursor: pointer;
				background-color: $white;
				color: $black;
				font-size: 14px;
				padding: 10px 39px 10px 20px;
				width: 100%;
				height: 40px;
				&:hover {
					background-color: $red;
					color: $white;
				}
			}
		}
	}
}
