.logo {
	width: 220px;
	height: 50px;
	background-image: url(../img/logo-white.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: transparent;
	cursor: pointer;
	display: inline-block;
	&.black {
		background-image: url(../img/logo.svg);
	}
}
