.sort-drop-btn {
	font-family: $font;
	font-size: 16px;
	font-weight: normal;
	color: $grayblack;
	cursor: pointer;
	position: relative;
	display: inline-block;
	text-decoration: underline;
	user-select: none;
	@include transition;
	&:hover {
		color: $red-hover;
		text-decoration: underline;
	}
	&:active {
		color: $red-active;
		text-decoration: underline;
	}
}
@media screen and (max-width: 940px) {
	.sort-drop-btn {
		width: 100%;
		margin-top: 10px;
		display: block;
	}
}
