.phone {
	font-size: 16px;
	color: $white;
	font-family: $font;
	text-decoration: none;
	@include transition;
	&:hover {
		color: $white;
		text-decoration: none;
	}
	&:active {
		color: $white;
		text-decoration: none;
	}
	&:visited {
		color: $white;
		text-decoration: none;
	}
}

@media screen and (max-width: 775px) {
	.phone { display: none; }
}
