.mail {
	font-size: 12px;
	color: $white;
	font-family: $font;
	text-decoration: underline;
	@include transition;
	&:hover {
		color: $white;
		text-decoration: underline;
	}
	&:active {
		color: $white;
		text-decoration: underline;
	}
	&:visited {
		color: $white;
		text-decoration: underline;
	}
}

@media screen and (max-width: 775px) {
	.mail { display: none; }
}
