.menu {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
	display: inline-block;
	> li {
		display: inline-block;
		> a {
			@include transition;
			font-size: 14px;
			font-weight: 400;
			font-family: $font;
			text-decoration: none;
			height: 50px;
			line-height: 50px;
			padding: 0 20px;
			display: block;
			background-color: $white;
			color:  $black;
			&.active {
				color: $red;
				text-decoration: none;
			}
			&:hover {
				color: $red;
				text-decoration: none;
			}
		}
	}
}

.burger {
	@include transition;
	display: none;
	width: 25px;
	position: absolute;
	top: 27px;
	right: 15px;
	cursor: pointer;
	&:hover {
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
		border-radius: 50%;
		width: 35px;
		height: 35px;
		padding: 9px 5px;
		margin: -9px -5px 0 0;
	}
	&:hover:before {
		content: '';
		position: absolute;
		display: block;
		width: 85px;
		height: 85px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-border-radius: 45px;
		border-radius: 50%;
		background-color: transparent;
		top: -25px;
		bottom: 0;
		left: -25px;
		right: 0;
		z-index: 110;
	}
	&:active:before {
		background-color: rgba(2,2,2,0.3);
		animation: pulse-ring 0.75s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		background-color: $red;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 111;
		border-radius: 50%;
	}
	> span {
		display: block;
		margin-bottom: 5px;
		width: 100%;
		height: 2px;
		background-color: $white;
		z-index: 112;
		position: relative;
	}
}

@keyframes pulse-ring {
	0% {
		transform: scale(.33);
	}
	80%, 100% {
		opacity: 0;
	}
}

@media screen and (max-width: 940px) {
	.burger {
		display: block;
	}
	.menu {
		&.show {
			display: block;
		}
		display: none;
		position: fixed;
		padding-top: 40px;
		top: 80px;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		background-color: $white;
		> li {
			display: block;
			width: 100%;
			text-align: center;
			> a {
				color: $black;
				background-color: $white;
				&.active {
					background-color: $red;
					color: $white;
				}
				&:hover {
					background-color: $red;
					color: $white;
				}
			}
		}
	}
}
