mixin filter(additionalClass)
	.filter(class=additionalClass)&attributes(attributes)
		.row
			+link('#', 'NISSAN')(class='col-6 col-md-3')
			+link('#', 'VOLKSWAGEN')(class='col-6 col-md-3')
			+link('#', 'BMW')(class='col-6 col-md-3')
			+link('#', 'RENAULT')(class='col-6 col-md-3')
		.row
			+link('#', 'PEUGEOT')(class='col-6 col-md-3')
			+link('#', 'PEUGEOT')(class='col-6 col-md-3')
			+link('#', 'MITSUBISHI')(class='col-6 col-md-3')
			+link('#', 'OPEL')(class='col-6 col-md-3')
