mixin header(additionalClass)
	.header(class=additionalClass)&attributes(attributes)
		.container
			.header__left
				+logo('/')
			.header__right
					+phone('+375 (44) 744-87-97')(class='mr-space-20px')
					.up-down
						+mail('trade-in@nissan-belarus.by')
						br
						+work-time('08:00', '20:00')
	.container
		+menu([{'/': 'О компании'}, {'/': 'Новые автомобили'}, {'/': 'Авто с пробегом'}, {'/': 'Финансовые программы'}, {'/': 'Контакты'}])
