.header {
	background-color: $red;
	padding: 15px 0;
	> .container {
		display: flex;
		justify-content: space-between;
		> * {
			display: inline-flex;
		}
	}
	&__right {
		text-align: right;
		align-items: center;
	}
}

@media screen and (max-width: 940px) {
	.header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 101;
	}
}
