.textbox {
	width: 100%;
	&-title {
		width: 100%;
		color: $black;
		text-transform: uppercase;
		font-size: 18px;
		line-height: normal;
		font-family: $font-bold;
		padding-bottom: 10px;
	}
	&-text {
		width: 100%;
		color: $grayblack;
		font-size: 16px;
		line-height: normal;
		font-family: $font;
	}
}
